<div class="card">
  <div class="card-header">
    TRaiD  eBay Parts Interchange Search 
  </div>
  <div class="card-body">      
      <form id="passwordForm" class="text-center" (submit) = "searchCarSubmit()" [formGroup]="form_search">
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="form-group">
                <label for="year">Year</label>
                <input [value] = "year" formControlName="year" type="text"
                 id="year" class="form-control" aria-describedby="passwordHelpInline" required>
                </div>
              </div>
            <div class="col-auto">
              <div class="form-group">
                <label for="make">Make</label>
                <input [value] = "make" formControlName="make" type="text" id="make" class="form-control" aria-describedby="passwordHelpInline" required>
              </div>
            </div>
          <div class="col-auto">
            <div class="form-group">
              <label for="model">Model</label>
              <input [value] = "model" formControlName="model" type="text" id="model" class="form-control" aria-describedby="passwordHelpInline" required>
            </div>
          </div>
        <div class="col-auto">
          <div class="form-group">
            <label for="part">Part</label>
            <input [value] = "part" formControlName="part" type="text" id="part" class="form-control" aria-describedby="passwordHelpInline" required>
          </div>
        </div>
        <div *ngIf="suggestions">
          <div class="col-auto">
            <div class="form-group">
              <label for="Suggestions">Add specifications</label>
              <input formControlName="suggest" type="text" id="suggest" class="form-control" aria-describedby="passwordHelpInline" required>  
              <div *ngFor="let x of suggestions">
                {{x}}
              </div>
            </div>
          </div>
        </div>
      </div>
       <div *ngIf="invalidForm()" class="alert alert-danger" role="alert">Incomplete form</div>
         <div *ngIf="submitted()" class="alert alert-success" role="alert">Searching Interchanges for {{queryStr}}</div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
        </div>
      <div *ngIf="err" class="alert alert-danger" role="alert">
            {{err}}
      </div>
       <div *ngIf=" suggestions && ebayData_1.length < 1 && submitted()">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      
        <div  *ngIf="alertComparison.length > 0">
            <div  (click)="onDivClick()">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title style = "color: blue;">Top 10 Matches</mat-panel-title>
                    </mat-expansion-panel-header>

           <div *ngFor="let s of alertComparison">
            <a>Title: {{s.title}}</a><br>
            <img [src] = "s.imageUrl" width="100px"><br>
            <a [href] = "s.itemWebUrl" target="_blank">Link</a><br>
            <a>Price: {{s.priceValue}} {{s.priceCurrency}}</a><br>

          </div>

        </mat-expansion-panel>
      </mat-accordion>
        </div>
    </div>


      <div *ngIf="ebayData_1">
        
      <div  (click)="onDivClick()">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let data of ebayData_1">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ data.title }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let element of data.info.itemSummaries">
             
              <a>Title: {{element.title}}</a><br>
              <img [src] = "element.image.imageUrl" width="100px"><br>
              <a [href] = "element.itemWebUrl" target="_blank">Link</a><br>
              <a>Price: {{element.price.value}} {{element.price.currency}}</a><br>
          </div>
          </mat-expansion-panel>
        </mat-accordion>
        </div>
        </div>
        

